.skip{
    position: absolute;
    top: -50px;
}

#invert {
    position: absolute;
    top: 0;
    left: 0;
}

/* overall colors, font, etc */
body {
    background: radial-gradient(farthest-corner at bottom right,#86ACCB,#000000);
    background-color: #000000;
    font-family: "Comic Sans MS", "Verdana", "Comic Sans", cursive;
    color: white;
}

main {
    margin-bottom: 20px;
}

/* header and footer */
header, footer {
    text-align: center;
    color: white;
}

header a, footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    opacity: 0.5;
    text-transform: uppercase;
}

/* nav */
nav ul {
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}

nav li {
    box-sizing: border-box;
    padding: 5px;
    width: 33%;
    border: 2px solid white;
    border-radius: 5px;
    display: inline;
}

nav li.inactive:hover {
    opacity: 0.5;
}

nav a {
    text-decoration: none;
    display: block;
    color: white;
}

nav li.active {
    border: 5px solid white;
    background-color: white;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

/* page title */
h1 {
    text-align: center;
}

/* home page grid */
img {
    height: 3in;
    width: 3in;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 10px;
}

a > img:hover {
    opacity: 0.5;
    transition: 0.5s ease;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: auto;
}

.row1, .row3 {
    grid-column: 3 / 6;
    text-align: right;
} 

.row2 {
    grid-column: 2 / 6;
    text-align: left;
}

/* invert colors button */
button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: "Comic Sans MS", "Verdana", "Comic Sans", cursive;
}

/* 1. flex (need to implement)
2. make the website behave differently for mobile, tab, and big
3. 3 things above and beyond with features
    1. video (need to add controls)
    2. embedded links (need to implement)
    3. hyperlinked recipes w/ opacity hover
4. make something super accesible
5. WRITEUP on everything above */